In [9]:
dias = [3,1,10]
dias[0]



#L = list() #Construtor de listas

1

In [10]:
dias[1]

1

In [11]:
dias[2]

10

In [14]:
Z =  [3,8,9]
Z [0] = 7
Z

[7, 8, 9]

In [16]:
V = [6,7,5,8,9]
L = V   #PONTEIRO


print (V==L)
print(V is L)
V[0] = 5

print(V)
print(L)

True
True
[5, 7, 5, 8, 9]
[5, 7, 5, 8, 9]

In [1]:
a =  [81,82,83]
b = a[:]  #cria um clone com fatia
# os dois pontos significam até 
print (a==b)
print (a is b)
b[0] = 5
print(a)
print(b)

True
False
[81, 82, 83]
[5, 82, 83]

In [3]:
uma_lista = ['a','b','c','d','e','f']
print (uma_lista[1:3]) #ele iria até o d que é o indice 3, mas ele exclui o que ele "iria" e volta para o anterior
print(uma_lista[:4])
print(uma_lista[3:])
print(uma_lista[:])

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

In [7]:
a = [1,2,3]
b=a[:]
b[0]=5
print(a[0])
print(b[0])

1
5

In [35]:
minhaLista = [76,92.3,"oi",True,4,76]

#a) inserir "pitomba" e 76 no final da lista
#b)inserir o valor "cibele" na posição de indice 3
#c) inserir o valor 99 no início da lista
#d) encontrar o indice de "oi"
#e) remover true da lista

minhaLista [5] = 'Pitomba',76
minhaLista [0] =  99
minhaLista[4] = False
print(minhaLista)
print(minhaLista[3])

[99, 92.3, 'oi', True, False, ('Pitomba', 76)]
True

In [25]:
#b)
minhaLista = [76,92.3,"oi",True,4,76]
minhaLista [3] = "cibele"
print(minhaLista)

[76, 92.3, 'oi', 'cibele', 4, 76]

In [27]:
#C
minhaLista = [76,92.3,"oi",True,4,76]
minhaLista [0] =  99
print(minhaLista)

[99, 92.3, 'oi', True, 4, 76]

In [44]:
#d)
minhaLista = [76,92.3,"oi",True,4,76]
print(minhaLista)

if "oi" in minhaLista:
    "oi" == 2
    print(minhaLista[2])
else:
    print("false")
    
#print("o indice dois tem o valor de:",minhaLista[2])

[76, 92.3, 'oi', True, 4, 76]
oi

In [50]:
#d
minha_lista = [76, 92.3, "oi", True, 4, 76]

if( minha_lista[0] == "oi"):
      print("O indice procurado é o zero")

elif( minha_lista[1] == "oi"):
      print("O indice procurado é o primeiro")

elif( minha_lista[2] == "oi"):
      print("O indice procurado é o segundo")

elif( minha_lista[3] == "oi"):
      print("O indice procurado é o terceiro")

elif( minha_lista[4] == "oi"):
      print("O indice procurado é o quatro")

elif( minha_lista[5] == "oi"):
      print("O indice procurado é o quinto")
else:
      print("Item não encontrado")

O indice procurado é o segundo

In [56]:
# e)
minhaLista = [76,92.3,"oi",True,4,76]
minhaLista[3] = False
print(minhaLista)

[76, 92.3, 'oi', False, 4, 76]

In [57]:
#e)
novaLista =[76,92.3,"0i",True,4,76]
novaLista[:3]
cloneLista=[4,76]
novaLista[:3]+cloneLista

[76, 92.3, '0i', 4, 76]

In [34]:
minhaLista = [76,92.3,"oi",True,4,76]
listaNova = ["Pitomba", 76]

#a) inserir "pitomba" e 76 no final da lista
#b)inserir o valor "cibele" na posição de indice 3
#c) inserir o valor 99 no início da lista
#d) encontrar o indice de "oi"
#e) remover true da lista

novaLista = (minhaLista + listaNova)

print(novaLista[:3]+["cibele"]+novaLista[3:])
minhaLista [3] = "cibele"
print(minhaLista[3])
minhaLista [0] =  99
print(minhaLista[2])
minhaLista[3] = False

[76, 92.3, 'oi', 'cibele', True, 4, 76, 'Pitomba', 76]
cibele
oi

In [58]:
tupla_numeros = (10,20,30)
tupla_numeros

(10, 20, 30)

In [59]:
tupla_nova = 10,20,30
tupla_nova

(10, 20, 30)

In [61]:
tupla_elemento = 10,
tupla_elemento

(10,)

In [62]:
tupla_vazia = ()
tupla_vazia

()

In [63]:
nova_tupla = tuple('Teste')
nova_tupla

('T', 'e', 's', 't', 'e')

In [67]:
tupla_nomes = ('Marlene','ZecaPagodinho','Ziraldo','Musk')
tupla_nomes.count('Marlene')
print(tupla_nomes.count('Messi'))
print(tupla_nomes.count('ZecaPagodinho'))

0
1

In [74]:
#pratica 1
tupla_numeros1 = (1,2,2,3,4,4,4,5)
tupla_numeros1.count(4)

3